In [1]:
#importando os pacotes do Pandas, CSV e de Matemática

import pandas as pd
import csv
import math

In [2]:
#CORES
# ---------------------------------------------
class bcolors:
    APROVADO = '\033[92m' #GREEN
    ATENÇÃO = '\033[93m' #YELLOW
    REPROVADO = '\033[91m' #RED
    RESET = '\033[0m' #RESET COLOR

disciplina = input('Digite o Nome da Disciplina: ')


#FUNÇÃO DE VALIDAÇÃO DAS NOTAS
# ---------------------------------------------
def valid(lst):
    i=0
    while i==0:
        try:
            nota = int(input("Digite a nota da atividade "+str(lst[0])+" do Bimestre "+str(lst[1])+": "))
        except:
            print(bcolors.ATENÇÃO+"O valor inserido precisa ser um número entre 0 e 10" + bcolors.RESET)
            continue
        if  isinstance(nota, int) == True and nota >= 0 and nota <=10:
            i==1
            return(nota)
        else:
            print(bcolors.ATENÇÃO+"O valor inserido precisa ser um número entre 0 e 10" + bcolors.RESET)
            
            
# FUNÇÃO DE CÁLCULO DA NOTA DO BIMESTRE
# ---------------------------------------------
def n_bim(nots):
    return((sum(nots))/3)

Digite o Nome da Disciplina: Matemática

In [3]:
#criando a Classe 'CadAl' que vai ser responsável por cadastrar os alunos

sala = []

class CadAl():
    
    def __init__(self):
        self.nome = input('Digite o Nome do Aluno: ')
        self.at1b1 = valid([1,1])
        self.at2b1 = valid([2,1])
        self.at3b1 = valid([3,1])
        self.at1b2 = valid([1,2])
        self.at2b2 = valid([2,2])
        self.at3b2 = valid([3,2])
        self.at1b3 = valid([1,3])
        self.at2b3 = valid([2,3])
        self.at3b3 = valid([3,3])
        self.at1b4 = valid([1,4])
        self.at2b4 = valid([2,4])
        self.at3b4 = valid([3,4])
        sala.append([self.nome,self.at1b1,self.at2b1,self.at3b1,self.at1b2,self.at2b2,self.at3b2,self.at1b3,self.at2b3,self.at3b3,self.at1b4,self.at2b4,self.at3b4])

In [4]:
#Cadastrando os alunos

In [5]:
Al1 = CadAl()

Digite o Nome do Aluno: Daniel Vieira
Digite a nota da atividade 1 do Bimestre 1: 6
Digite a nota da atividade 2 do Bimestre 1:
O valor inserido precisa ser um número entre 0 e 10
Digite a nota da atividade 2 do Bimestre 1: 5
Digite a nota da atividade 3 do Bimestre 1: 7
Digite a nota da atividade 1 do Bimestre 2: 5
Digite a nota da atividade 2 do Bimestre 2: 6
Digite a nota da atividade 3 do Bimestre 2: 8
Digite a nota da atividade 1 do Bimestre 3: 5
Digite a nota da atividade 2 do Bimestre 3: 6
Digite a nota da atividade 3 do Bimestre 3: 8
Digite a nota da atividade 1 do Bimestre 4: 5
Digite a nota da atividade 2 do Bimestre 4: 6
Digite a nota da atividade 3 do Bimestre 4: 7

In [6]:
Al2 = CadAl()

Digite o Nome do Aluno: João Paulo
Digite a nota da atividade 1 do Bimestre 1: 6
Digite a nota da atividade 2 do Bimestre 1: 7
Digite a nota da atividade 3 do Bimestre 1: 8
Digite a nota da atividade 1 do Bimestre 2: 4
Digite a nota da atividade 2 do Bimestre 2: 5
Digite a nota da atividade 3 do Bimestre 2: 7
Digite a nota da atividade 1 do Bimestre 3: 8
Digite a nota da atividade 2 do Bimestre 3: 9
Digite a nota da atividade 3 do Bimestre 3:
O valor inserido precisa ser um número entre 0 e 10
Digite a nota da atividade 3 do Bimestre 3: 9
Digite a nota da atividade 1 do Bimestre 4: 7
Digite a nota da atividade 2 do Bimestre 4: 5
Digite a nota da atividade 3 do Bimestre 4: 7

In [7]:
Al3 = CadAl()

Digite o Nome do Aluno: Peter Parker
Digite a nota da atividade 1 do Bimestre 1: 9
Digite a nota da atividade 2 do Bimestre 1: 8
Digite a nota da atividade 3 do Bimestre 1: 9
Digite a nota da atividade 1 do Bimestre 2: 8
Digite a nota da atividade 2 do Bimestre 2: 9
Digite a nota da atividade 3 do Bimestre 2: 9
Digite a nota da atividade 1 do Bimestre 3: 9
Digite a nota da atividade 2 do Bimestre 3: 9
Digite a nota da atividade 3 do Bimestre 3: 8
Digite a nota da atividade 1 do Bimestre 4: 9
Digite a nota da atividade 2 do Bimestre 4: 9
Digite a nota da atividade 3 do Bimestre 4: 9

In [8]:
Al4 = CadAl()

Digite o Nome do Aluno: Michael Jackson
Digite a nota da atividade 1 do Bimestre 1: 6
Digite a nota da atividade 2 do Bimestre 1: 5
Digite a nota da atividade 3 do Bimestre 1: 4
Digite a nota da atividade 1 do Bimestre 2: 3
Digite a nota da atividade 2 do Bimestre 2: 4
Digite a nota da atividade 3 do Bimestre 2: 6
Digite a nota da atividade 1 do Bimestre 3: 5
Digite a nota da atividade 2 do Bimestre 3: 4
Digite a nota da atividade 3 do Bimestre 3: 2
Digite a nota da atividade 1 do Bimestre 4: 4
Digite a nota da atividade 2 do Bimestre 4: 6
Digite a nota da atividade 3 do Bimestre 4: 5

In [9]:
Al5 = CadAl()

Digite o Nome do Aluno: Julius César
Digite a nota da atividade 1 do Bimestre 1: 6
Digite a nota da atividade 2 do Bimestre 1: 5
Digite a nota da atividade 3 do Bimestre 1: 7
Digite a nota da atividade 1 do Bimestre 2: 3
Digite a nota da atividade 2 do Bimestre 2: 2
Digite a nota da atividade 3 do Bimestre 2: 1
Digite a nota da atividade 1 do Bimestre 3: 3
Digite a nota da atividade 2 do Bimestre 3: 32
O valor inserido precisa ser um número entre 0 e 10
Digite a nota da atividade 2 do Bimestre 3: 3
Digite a nota da atividade 3 do Bimestre 3: 2
Digite a nota da atividade 1 do Bimestre 4: 1
Digite a nota da atividade 2 do Bimestre 4: 3
Digite a nota da atividade 3 do Bimestre 4: 4

In [10]:
Al6 = CadAl()

Digite o Nome do Aluno: Silvio Santos
Digite a nota da atividade 1 do Bimestre 1: 4
Digite a nota da atividade 2 do Bimestre 1: 3
Digite a nota da atividade 3 do Bimestre 1: 2
Digite a nota da atividade 1 do Bimestre 2: 6
Digite a nota da atividade 2 do Bimestre 2: 4
Digite a nota da atividade 3 do Bimestre 2: 7
Digite a nota da atividade 1 do Bimestre 3: 3
Digite a nota da atividade 2 do Bimestre 3: 3
Digite a nota da atividade 3 do Bimestre 3: 4
Digite a nota da atividade 1 do Bimestre 4: 3
Digite a nota da atividade 2 do Bimestre 4: 6
Digite a nota da atividade 3 do Bimestre 4: 3

In [11]:
Al7 = CadAl()

Digite o Nome do Aluno: Carmen Miranda
Digite a nota da atividade 1 do Bimestre 1: 4
Digite a nota da atividade 2 do Bimestre 1: 6
Digite a nota da atividade 3 do Bimestre 1: 3
Digite a nota da atividade 1 do Bimestre 2: 4
Digite a nota da atividade 2 do Bimestre 2: 6
Digite a nota da atividade 3 do Bimestre 2: 7
Digite a nota da atividade 1 do Bimestre 3: 8
Digite a nota da atividade 2 do Bimestre 3: 9
Digite a nota da atividade 3 do Bimestre 3: 7
Digite a nota da atividade 1 do Bimestre 4: 8
Digite a nota da atividade 2 do Bimestre 4: 9
Digite a nota da atividade 3 do Bimestre 4: 8

In [12]:
Al8 = CadAl()

Digite o Nome do Aluno: Ana Maria
Digite a nota da atividade 1 do Bimestre 1: 6
Digite a nota da atividade 2 do Bimestre 1: 7
Digite a nota da atividade 3 do Bimestre 1: 8
Digite a nota da atividade 1 do Bimestre 2: 3
Digite a nota da atividade 2 do Bimestre 2: 4
Digite a nota da atividade 3 do Bimestre 2: 5
Digite a nota da atividade 1 do Bimestre 3: 3
Digite a nota da atividade 2 do Bimestre 3: 5
Digite a nota da atividade 3 do Bimestre 3: 7
Digite a nota da atividade 1 do Bimestre 4: 4
Digite a nota da atividade 2 do Bimestre 4: 5
Digite a nota da atividade 3 do Bimestre 4: 4

In [13]:
Al9 = CadAl()

Digite o Nome do Aluno: Marcia
Digite a nota da atividade 1 do Bimestre 1:
O valor inserido precisa ser um número entre 0 e 10
Digite a nota da atividade 1 do Bimestre 1: 7
Digite a nota da atividade 2 do Bimestre 1: 8
Digite a nota da atividade 3 do Bimestre 1: 5
Digite a nota da atividade 1 do Bimestre 2: 63
O valor inserido precisa ser um número entre 0 e 10
Digite a nota da atividade 1 do Bimestre 2: 5
Digite a nota da atividade 2 do Bimestre 2: 6
Digite a nota da atividade 3 do Bimestre 2: 7
Digite a nota da atividade 1 do Bimestre 3: 8
Digite a nota da atividade 2 do Bimestre 3: 4
Digite a nota da atividade 3 do Bimestre 3: 3
Digite a nota da atividade 1 do Bimestre 4: 2
Digite a nota da atividade 2 do Bimestre 4: 4
Digite a nota da atividade 3 do Bimestre 4: 5

In [14]:
Al10 = CadAl()

Digite o Nome do Aluno: Judith
Digite a nota da atividade 1 do Bimestre 1: 3
Digite a nota da atividade 2 do Bimestre 1: 4
Digite a nota da atividade 3 do Bimestre 1: 5
Digite a nota da atividade 1 do Bimestre 2: 7
Digite a nota da atividade 2 do Bimestre 2: 6
Digite a nota da atividade 3 do Bimestre 2: 4
Digite a nota da atividade 1 do Bimestre 3: 2
Digite a nota da atividade 2 do Bimestre 3: 2
Digite a nota da atividade 3 do Bimestre 3: 3
Digite a nota da atividade 1 do Bimestre 4: 1
Digite a nota da atividade 2 do Bimestre 4: 4
Digite a nota da atividade 3 do Bimestre 4: 5

In [19]:
sala

[['Daniel Vieira', 6, 5, 7, 5, 6, 8, 5, 6, 8, 5, 6, 7],
 ['João Paulo', 6, 7, 8, 4, 5, 7, 8, 9, 9, 7, 5, 7],
 ['Peter Parker', 9, 8, 9, 8, 9, 9, 9, 9, 8, 9, 9, 9],
 ['Michael Jackson', 6, 5, 4, 3, 4, 6, 5, 4, 2, 4, 6, 5],
 ['Julius César', 6, 5, 7, 3, 2, 1, 3, 3, 2, 1, 3, 4],
 ['Silvio Santos', 4, 3, 2, 6, 4, 7, 3, 3, 4, 3, 6, 3],
 ['Carmen Miranda', 4, 6, 3, 4, 6, 7, 8, 9, 7, 8, 9, 8],
 ['Ana Maria', 6, 7, 8, 3, 4, 5, 3, 5, 7, 4, 5, 4],
 ['Marcia', 7, 8, 5, 5, 6, 7, 8, 4, 3, 2, 4, 5],
 ['Judith', 3, 4, 5, 7, 6, 4, 2, 2, 3, 1, 4, 5]]

In [23]:
with open("C:\\Users\\conta\\OneDrive\\Área de Trabalho\\Notas de Sala teste.csv",'w') as tste:
    writer = csv.writer(tste)
    writer.writerow(('Nome','Atividade 1 B1','Atividade 2 B1','Atividade 3 B1','Atividade 1 B2','Atividade 2 B2','Atividade 3 B2','Atividade 1 B3','Atividade 2 B3','Atividade 3 B3','Atividade 1 B4','Atividade 2 B4','Atividade 3 B4'))
    for x in range(len(sala)):
        writer.writerow(str(x))

In [38]:
colunas = ['Nome','Atividade 1 B1','Atividade 2 B1','Atividade 3 B1','Atividade 1 B2','Atividade 2 B2','Atividade 3 B2','Atividade 1 B3','Atividade 2 B3','Atividade 3 B3','Atividade 1 B4','Atividade 2 B4','Atividade 3 B4']

In [42]:
sala.append(colunas)

In [45]:
sala

[['Daniel Vieira',
  6,
  5,
  7,
  5,
  6,
  8,
  5,
  6,
  8,
  5,
  6,
  7,
  ('Nome',
   'Atividade 1 B1',
   'Atividade 2 B1',
   'Atividade 3 B1',
   'Atividade 1 B2',
   'Atividade 2 B2',
   'Atividade 3 B2',
   'Atividade 1 B3',
   'Atividade 2 B3',
   'Atividade 3 B3',
   'Atividade 1 B4',
   'Atividade 2 B4',
   'Atividade 3 B4')],
 ['João Paulo', 6, 7, 8, 4, 5, 7, 8, 9, 9, 7, 5, 7],
 ['Peter Parker', 9, 8, 9, 8, 9, 9, 9, 9, 8, 9, 9, 9],
 ['Michael Jackson', 6, 5, 4, 3, 4, 6, 5, 4, 2, 4, 6, 5],
 ['Julius César', 6, 5, 7, 3, 2, 1, 3, 3, 2, 1, 3, 4],
 ['Silvio Santos', 4, 3, 2, 6, 4, 7, 3, 3, 4, 3, 6, 3],
 ['Carmen Miranda', 4, 6, 3, 4, 6, 7, 8, 9, 7, 8, 9, 8],
 ['Ana Maria', 6, 7, 8, 3, 4, 5, 3, 5, 7, 4, 5, 4],
 ['Marcia', 7, 8, 5, 5, 6, 7, 8, 4, 3, 2, 4, 5],
 ['Judith', 3, 4, 5, 7, 6, 4, 2, 2, 3, 1, 4, 5],
 ['Nome',
  'Atividade 1 B1',
  'Atividade 2 B1',
  'Atividade 3 B1',
  'Atividade 1 B2',
  'Atividade 2 B2',
  'Atividade 3 B2',
  'Atividade 1 B3',
  'Atividade 2 B3',
  'Atividade 3 B3',
  'Atividade 1 B4',
  'Atividade 2 B4',
  'Atividade 3 B4']]

In [15]:
tabsala = pd.DataFrame(sala, columns = ('Nome','Atividade 1 B1','Atividade 2 B1','Atividade 3 B1','Atividade 1 B2','Atividade 2 B2','Atividade 3 B2','Atividade 1 B3','Atividade 2 B3','Atividade 3 B3','Atividade 1 B4','Atividade 2 B4','Atividade 3 B4'))

In [16]:
tabsala

,Nome,Atividade 1 B1,Atividade 2 B1,Atividade 3 B1,Atividade 1 B2,Atividade 2 B2,Atividade 3 B2,Atividade 1 B3,Atividade 2 B3,Atividade 3 B3,Atividade 1 B4,Atividade 2 B4,Atividade 3 B4
0,Daniel Vieira,6,5,7,5,6,8,5,6,8,5,6,7
1,João Paulo,6,7,8,4,5,7,8,9,9,7,5,7
2,Peter Parker,9,8,9,8,9,9,9,9,8,9,9,9
3,Michael Jackson,6,5,4,3,4,6,5,4,2,4,6,5
4,Julius César,6,5,7,3,2,1,3,3,2,1,3,4
5,Silvio Santos,4,3,2,6,4,7,3,3,4,3,6,3
6,Carmen Miranda,4,6,3,4,6,7,8,9,7,8,9,8
7,Ana Maria,6,7,8,3,4,5,3,5,7,4,5,4
8,Marcia,7,8,5,5,6,7,8,4,3,2,4,5
9,Judith,3,4,5,7,6,4,2,2,3,1,4,5

In [17]:
tabsala.to_csv("C:\\Users\\conta\\OneDrive\\Área de Trabalho\\Notas de Sala.csv", encoding='utf-8')