In [29]:
#importando os pacotes do Pandas, CSV e de Matemática

import pandas as pd
import csv
import math

In [1]:
#CORES
# ---------------------------------------------
class bcolors:
    APROVADO = '\033[92m' #GREEN
    ATENÇÃO = '\033[93m' #YELLOW
    REPROVADO = '\033[91m' #RED
    RESET = '\033[0m' #RESET COLOR

disciplina = input('Digite o Nome da Disciplina: ')


#FUNÇÃO DE VALIDAÇÃO DAS NOTAS
# ---------------------------------------------
def valid(lst):
    i=0
    while i==0:
        try:
            nota = int(input("Digite a nota da atividade "+str(lst[0])+" do Bimestre "+str(lst[1])+": "))
        except:
            print(bcolors.ATENÇÃO+"O valor inserido precisa ser um número entre 0 e 10" + bcolors.RESET)
            continue
        if  isinstance(nota, int) == True and nota >= 0 and nota <=10:
            i==1
            return(nota)
        else:
            print(bcolors.ATENÇÃO+"O valor inserido precisa ser um número entre 0 e 10" + bcolors.RESET)
            
            
# FUNÇÃO DE CÁLCULO DA NOTA DO BIMESTRE
# ---------------------------------------------
def n_bim(nots):
    return((sum(nots))/3)

Digite o Nome da Disciplina: Mat

In [10]:
#criando a Classe 'CadAl' que vai ser responsável por cadastrar os alunos

sala = []

class CadAl():
    
    def __init__(self):
        self.nome = input('Digite o Nome do Aluno: ')
        self.at1b1 = valid([1,1])
        self.at2b1 = valid([2,1])
        self.at3b1 = valid([3,1])
        self.at1b2 = valid([1,2])
        self.at2b2 = valid([2,2])
        self.at3b2 = valid([3,2])
        self.at1b3 = valid([1,3])
        self.at2b3 = valid([2,3])
        self.at3b3 = valid([3,3])
        self.at1b4 = valid([1,4])
        self.at2b4 = valid([2,4])
        self.at3b4 = valid([3,4])
        sala.append({'Nome':self.nome,'Atividade 1 B1':self.at1b1,'Atividade 2 B1':self.at2b1,'Atividade 3 B1':self.at3b1,'Atividade 1 B2':self.at1b2,'Atividade 2 B2':self.at2b2,'Atividade 3 B2':self.at3b2,'Atividade 1 B3':self.at1b3,'Atividade 2 B3':self.at2b3,'Atividade 3 B3':self.at3b3,'Atividade 1 B4':self.at1b4,'Atividade 2 B4':self.at2b4,'Atividade 3 B4':self.at3b4})

In [44]:
#Cadastrando os alunos

In [11]:
Al1 = CadAl()

Digite o Nome do Aluno: Daniel Vieira
Digite a nota da atividade 1 do Bimestre 1: 9
Digite a nota da atividade 2 do Bimestre 1: 87
O valor inserido precisa ser um número entre 0 e 10
Digite a nota da atividade 2 do Bimestre 1: 7
Digite a nota da atividade 3 do Bimestre 1: 9
Digite a nota da atividade 1 do Bimestre 2: 8
Digite a nota da atividade 2 do Bimestre 2: 6
Digite a nota da atividade 3 do Bimestre 2: 7
Digite a nota da atividade 1 do Bimestre 3: 8
Digite a nota da atividade 2 do Bimestre 3: 9
Digite a nota da atividade 3 do Bimestre 3: 6
Digite a nota da atividade 1 do Bimestre 4: 7
Digite a nota da atividade 2 do Bimestre 4: 6
Digite a nota da atividade 3 do Bimestre 4: 8

In [12]:
#Veja que na lista sala já foram gravados os dados do primeiro aluno cadastrado
sala

[{'Nome': 'Daniel Vieira',
  'Atividade 1 B1': 9,
  'Atividade 2 B1': 7,
  'Atividade 3 B1': 9,
  'Atividade 1 B2': 8,
  'Atividade 2 B2': 6,
  'Atividade 3 B2': 7,
  'Atividade 1 B3': 8,
  'Atividade 2 B3': 9,
  'Atividade 3 B3': 6,
  'Atividade 1 B4': 7,
  'Atividade 2 B4': 6,
  'Atividade 3 B4': 8}]

In [13]:
Al2 = CadAl()

Digite o Nome do Aluno: Maria Joaquina
Digite a nota da atividade 1 do Bimestre 1: 8
Digite a nota da atividade 2 do Bimestre 1: 9
Digite a nota da atividade 3 do Bimestre 1: 5
Digite a nota da atividade 1 do Bimestre 2: 7
Digite a nota da atividade 2 do Bimestre 2: 9
Digite a nota da atividade 3 do Bimestre 2: 8
Digite a nota da atividade 1 do Bimestre 3: 6
Digite a nota da atividade 2 do Bimestre 3: 8
Digite a nota da atividade 3 do Bimestre 3: 9
Digite a nota da atividade 1 do Bimestre 4: 6
Digite a nota da atividade 2 do Bimestre 4: 8
Digite a nota da atividade 3 do Bimestre 4: 9

In [14]:
#Agora temos na lista sala os dados do primeiro e do segundo aluno
sala

[{'Nome': 'Daniel Vieira',
  'Atividade 1 B1': 9,
  'Atividade 2 B1': 7,
  'Atividade 3 B1': 9,
  'Atividade 1 B2': 8,
  'Atividade 2 B2': 6,
  'Atividade 3 B2': 7,
  'Atividade 1 B3': 8,
  'Atividade 2 B3': 9,
  'Atividade 3 B3': 6,
  'Atividade 1 B4': 7,
  'Atividade 2 B4': 6,
  'Atividade 3 B4': 8},
 {'Nome': 'Maria Joaquina',
  'Atividade 1 B1': 8,
  'Atividade 2 B1': 9,
  'Atividade 3 B1': 5,
  'Atividade 1 B2': 7,
  'Atividade 2 B2': 9,
  'Atividade 3 B2': 8,
  'Atividade 1 B3': 6,
  'Atividade 2 B3': 8,
  'Atividade 3 B3': 9,
  'Atividade 1 B4': 6,
  'Atividade 2 B4': 8,
  'Atividade 3 B4': 9}]

In [15]:
Al3 = CadAl()

Digite o Nome do Aluno: João Paulo
Digite a nota da atividade 1 do Bimestre 1: 5
Digite a nota da atividade 2 do Bimestre 1: 6
Digite a nota da atividade 3 do Bimestre 1: 8
Digite a nota da atividade 1 do Bimestre 2: 6
Digite a nota da atividade 2 do Bimestre 2: 7
Digite a nota da atividade 3 do Bimestre 2: 5
Digite a nota da atividade 1 do Bimestre 3: 7
Digite a nota da atividade 2 do Bimestre 3: 9
Digite a nota da atividade 3 do Bimestre 3: 5
Digite a nota da atividade 1 do Bimestre 4: 7
Digite a nota da atividade 2 do Bimestre 4: 8
Digite a nota da atividade 3 do Bimestre 4: 3

In [16]:
Al4 = CadAl()

Digite o Nome do Aluno: Peter Parker
Digite a nota da atividade 1 do Bimestre 1: 5
Digite a nota da atividade 2 do Bimestre 1: 7
Digite a nota da atividade 3 do Bimestre 1: 9
Digite a nota da atividade 1 do Bimestre 2: 8
Digite a nota da atividade 2 do Bimestre 2: 5
Digite a nota da atividade 3 do Bimestre 2: 7
Digite a nota da atividade 1 do Bimestre 3: 8
Digite a nota da atividade 2 do Bimestre 3: 9
Digite a nota da atividade 3 do Bimestre 3: 5
Digite a nota da atividade 1 do Bimestre 4: 7
Digite a nota da atividade 2 do Bimestre 4: 8
Digite a nota da atividade 3 do Bimestre 4: 95
O valor inserido precisa ser um número entre 0 e 10
Digite a nota da atividade 3 do Bimestre 4: 5

In [17]:
Al5 = CadAl()

Digite o Nome do Aluno: Marco Antonio
Digite a nota da atividade 1 do Bimestre 1: 6
Digite a nota da atividade 2 do Bimestre 1: 8
Digite a nota da atividade 3 do Bimestre 1: 9
Digite a nota da atividade 1 do Bimestre 2: 5
Digite a nota da atividade 2 do Bimestre 2: 7
Digite a nota da atividade 3 do Bimestre 2: 8
Digite a nota da atividade 1 do Bimestre 3: 9
Digite a nota da atividade 2 do Bimestre 3: 5
Digite a nota da atividade 3 do Bimestre 3: 4
Digite a nota da atividade 1 do Bimestre 4: 6
Digite a nota da atividade 2 do Bimestre 4: 8
Digite a nota da atividade 3 do Bimestre 4: 8

In [18]:
Al6 = CadAl()

Digite o Nome do Aluno: Maikon Diekysson
Digite a nota da atividade 1 do Bimestre 1: 6
Digite a nota da atividade 2 do Bimestre 1: 7
Digite a nota da atividade 3 do Bimestre 1: 8
Digite a nota da atividade 1 do Bimestre 2: 9
Digite a nota da atividade 2 do Bimestre 2: 8
Digite a nota da atividade 3 do Bimestre 2: 6
Digite a nota da atividade 1 do Bimestre 3: 5
Digite a nota da atividade 2 do Bimestre 3: 7
Digite a nota da atividade 3 do Bimestre 3: 8
Digite a nota da atividade 1 do Bimestre 4: 9
Digite a nota da atividade 2 do Bimestre 4: 6
Digite a nota da atividade 3 do Bimestre 4: 5

In [19]:
#Pronto, agora a lista sala tem os dados de todos os alunos
sala

[{'Nome': 'Daniel Vieira',
  'Atividade 1 B1': 9,
  'Atividade 2 B1': 7,
  'Atividade 3 B1': 9,
  'Atividade 1 B2': 8,
  'Atividade 2 B2': 6,
  'Atividade 3 B2': 7,
  'Atividade 1 B3': 8,
  'Atividade 2 B3': 9,
  'Atividade 3 B3': 6,
  'Atividade 1 B4': 7,
  'Atividade 2 B4': 6,
  'Atividade 3 B4': 8},
 {'Nome': 'Maria Joaquina',
  'Atividade 1 B1': 8,
  'Atividade 2 B1': 9,
  'Atividade 3 B1': 5,
  'Atividade 1 B2': 7,
  'Atividade 2 B2': 9,
  'Atividade 3 B2': 8,
  'Atividade 1 B3': 6,
  'Atividade 2 B3': 8,
  'Atividade 3 B3': 9,
  'Atividade 1 B4': 6,
  'Atividade 2 B4': 8,
  'Atividade 3 B4': 9},
 {'Nome': 'João Paulo',
  'Atividade 1 B1': 5,
  'Atividade 2 B1': 6,
  'Atividade 3 B1': 8,
  'Atividade 1 B2': 6,
  'Atividade 2 B2': 7,
  'Atividade 3 B2': 5,
  'Atividade 1 B3': 7,
  'Atividade 2 B3': 9,
  'Atividade 3 B3': 5,
  'Atividade 1 B4': 7,
  'Atividade 2 B4': 8,
  'Atividade 3 B4': 3},
 {'Nome': 'Peter Parker',
  'Atividade 1 B1': 5,
  'Atividade 2 B1': 7,
  'Atividade 3 B1': 9,
  'Atividade 1 B2': 8,
  'Atividade 2 B2': 5,
  'Atividade 3 B2': 7,
  'Atividade 1 B3': 8,
  'Atividade 2 B3': 9,
  'Atividade 3 B3': 5,
  'Atividade 1 B4': 7,
  'Atividade 2 B4': 8,
  'Atividade 3 B4': 5},
 {'Nome': 'Marco Antonio',
  'Atividade 1 B1': 6,
  'Atividade 2 B1': 8,
  'Atividade 3 B1': 9,
  'Atividade 1 B2': 5,
  'Atividade 2 B2': 7,
  'Atividade 3 B2': 8,
  'Atividade 1 B3': 9,
  'Atividade 2 B3': 5,
  'Atividade 3 B3': 4,
  'Atividade 1 B4': 6,
  'Atividade 2 B4': 8,
  'Atividade 3 B4': 8},
 {'Nome': 'Maikon Diekysson',
  'Atividade 1 B1': 6,
  'Atividade 2 B1': 7,
  'Atividade 3 B1': 8,
  'Atividade 1 B2': 9,
  'Atividade 2 B2': 8,
  'Atividade 3 B2': 6,
  'Atividade 1 B3': 5,
  'Atividade 2 B3': 7,
  'Atividade 3 B3': 8,
  'Atividade 1 B4': 9,
  'Atividade 2 B4': 6,
  'Atividade 3 B4': 5}]

In [45]:
#veja que sala é uma lista
type(sala)

list

In [21]:
#E na lista sala os dados foram gravados em dicionários
type(sala[0])

dict

In [27]:
#agora vamos separar a lista sala em linhas

sllinha = []
for x in range(len(sala)):
    Nome = sala[x]['Nome']
    Atividade1B1 = sala[x]['Atividade 1 B1']
    Atividade2B1 = sala[x]['Atividade 2 B1']
    Atividade3B1 = sala[x]['Atividade 3 B1']
    Atividade1B2 = sala[x]['Atividade 1 B2']
    Atividade2B2 = sala[x]['Atividade 2 B2']
    Atividade3B2 = sala[x]['Atividade 3 B2']
    Atividade1B3 = sala[x]['Atividade 1 B3']
    Atividade2B3 = sala[x]['Atividade 2 B3']
    Atividade3B3 = sala[x]['Atividade 3 B3']
    Atividade1B4 = sala[x]['Atividade 1 B4']
    Atividade2B4 = sala[x]['Atividade 2 B4']
    Atividade3B4 = sala[x]['Atividade 3 B4']
    lint = [Nome,Atividade1B1,Atividade2B1,Atividade3B1,Atividade1B2,Atividade2B2,Atividade3B2,Atividade1B3,Atividade2B3,Atividade3B3,Atividade1B4,Atividade2B4,Atividade3B4,]
    sllinha.append(lint)

In [28]:

sllinha

[['Daniel Vieira', 9, 7, 9, 8, 6, 7, 8, 9, 6, 7, 6, 8],
 ['Maria Joaquina', 8, 9, 5, 7, 9, 8, 6, 8, 9, 6, 8, 9],
 ['João Paulo', 5, 6, 8, 6, 7, 5, 7, 9, 5, 7, 8, 3],
 ['Peter Parker', 5, 7, 9, 8, 5, 7, 8, 9, 5, 7, 8, 5],
 ['Marco Antonio', 6, 8, 9, 5, 7, 8, 9, 5, 4, 6, 8, 8],
 ['Maikon Diekysson', 6, 7, 8, 9, 8, 6, 5, 7, 8, 9, 6, 5]]

In [41]:
tabsala = pd.DataFrame(sllinha, columns = ('Nome','Atividade 1 B1','Atividade 2 B1','Atividade 3 B1','Atividade 1 B2','Atividade 2 B2','Atividade 3 B2','Atividade 1 B3','Atividade 2 B3','Atividade 3 B3','Atividade 1 B4','Atividade 2 B4','Atividade 3 B4'))

In [42]:
tabsala

,Nome,Atividade 1 B1,Atividade 2 B1,Atividade 3 B1,Atividade 1 B2,Atividade 2 B2,Atividade 3 B2,Atividade 1 B3,Atividade 2 B3,Atividade 3 B3,Atividade 1 B4,Atividade 2 B4,Atividade 3 B4
0,Daniel Vieira,9,7,9,8,6,7,8,9,6,7,6,8
1,Maria Joaquina,8,9,5,7,9,8,6,8,9,6,8,9
2,João Paulo,5,6,8,6,7,5,7,9,5,7,8,3
3,Peter Parker,5,7,9,8,5,7,8,9,5,7,8,5
4,Marco Antonio,6,8,9,5,7,8,9,5,4,6,8,8
5,Maikon Diekysson,6,7,8,9,8,6,5,7,8,9,6,5

df.to_csv("C:\Users\conta\OneDrive\Área de Trabalho\programa de notas.csv", encoding='utf-8')

In [39]:
tabsala.to_csv("C:\\Users\\conta\\OneDrive\\Área de Trabalho\\programa_de_notas.csv", encoding='utf-8')

In [46]:
Lista_de_todas_linhas = tabsala.values.tolist()

In [47]:
Lista_de_todas_linhas

[['Daniel Vieira', 9, 7, 9, 8, 6, 7, 8, 9, 6, 7, 6, 8],
 ['Maria Joaquina', 8, 9, 5, 7, 9, 8, 6, 8, 9, 6, 8, 9],
 ['João Paulo', 5, 6, 8, 6, 7, 5, 7, 9, 5, 7, 8, 3],
 ['Peter Parker', 5, 7, 9, 8, 5, 7, 8, 9, 5, 7, 8, 5],
 ['Marco Antonio', 6, 8, 9, 5, 7, 8, 9, 5, 4, 6, 8, 8],
 ['Maikon Diekysson', 6, 7, 8, 9, 8, 6, 5, 7, 8, 9, 6, 5]]